<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="checkoutcontainer">
<div class="container mt-4 row">
    <h5 class="product-title col-lg">Product</h5>
    <h5 class="product-title  col-lg">Price</h5>
    <h5 class="product-title  col-lg">Quantity</h5>
    <h5 class="product-title  col-lg">Total</h5>
 
</div>
<!----- for refrence you can check 'main.js' displaycart() function  line 205 -->
<div class="product">
   <!--  "item" class--> 
   <!--  "quantity" class-->
   <!--  "price" class--> 
   <!--  "total" class-->  
    </div>
<div class="grandtotal">
    <!-- "grandtotal" class-->
</div>
    </div>
    <button onclick="deletelocalstorage()">Download invoice</button>
    <script src='/js/main.js'></script>
</body>
</html>