<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/homepage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cure Vibe Beau-Home</title>
</head>
    <div id="logo">
        <img src="../assets/images/logo-homepage.png" alt="">
        <p></p>
    </div>
    <div id="menubar">

    </div>


<body>
    
</body>
</html>