<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favi.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>Cure Vibe Beau-Home</title>
</head>

<body>
  
    <div id="logo">
        <img src="/images/logo-homepage.png" alt="">
        <button type="button" class="btn btn-info"><span class="material-icons">
            contact_mail
            </span><span>Contact Us</span></button>
    </div>

    <div id="menubar">
    <div><button type="button" class="btn btn-outline-danger">
            <span class="material-icons">
                account_circle
                </span>
            <span> Profile </span>
        </button> </div>
        <div><button type="button" class="btn btn-outline-danger">
            <span class="material-icons">
                shopping_cart
                </span>
            <span class="cart1"> Checkout </span>
        </button> </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/shop"><span>SHOP MEDICINES AND EQUIPMENTS</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/test"><span>LAB TESTS</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/calculators" role="button"
                aria-haspopup="true" aria-expanded="true"><span>HEALTHCARE CALCULATORS</span></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#1">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/report"><span>YOUR REPORTS</span></a>
        </li>
    </ul>
</div>
    <div class="container">
        <div id="content-slider">
            <div id="slider">
                <!-- Slider container -->
                <div id="mask">
                    <!-- Mask -->

                    <ul>
                        <li id="first" class="firstanimation">
                            <!-- ID for tooltip and class for animation -->
                            <a href="#"> <img src="images/vax.jpg" alt="Cougar" /> </a>
                            <div class="tooltip">
                                <h1>Cougar</h1>
                            </div>
                        </li>

                        <li id="second" class="secondanimation">
                            <a href="#"> <img src="images/shop.jpg" alt="Lions" /> </a>
                            <div class="tooltip">
                                <h1>Lions</h1>
                            </div>
                        </li>

                        <li id="third" class="thirdanimation">
                            <a href="#"> <img src="images/tests.jpg" alt="Snowalker" /> </a>
                            <div class="tooltip">
                                <h1>Snowalker</h1>
                            </div>
                        </li>

                        <li id="fourth" class="fourthanimation">
                            <a href="#"> <img src="images/cal.jpg" alt="Howling" /> </a>
                            <div class="tooltip">
                                <h1>Howling</h1>
                            </div>
                        </li>

                        <li id="fifth" class="fifthanimation">
                            <a href="#"> <img src="images/report.jpg" alt="Sunbathing" /> </a>
                            <div class="tooltip">
                                <h1>Sunbathing</h1>
                            </div>
                        </li>
                    </ul>

                </div> <!-- End Mask -->
                <div class="progress-bar"></div> <!-- Progress Bar -->
            </div> <!-- End Slider Container -->
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>