<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favi.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/shoppage.css">
    <title>Shop Page</title>
    <!-- <h1>Shop page </h1> -->
</head>

<body>
    <!--------------------------------------------------BASE HOMEPAGE HTML ENDS--------------------------------------------------------------> 
  <!-- <div id="logo" class="header" id = "main-header">
    <img src="/images/bgnew.jpg" alt="">
  </div> -->
<div class="sidebar">
  <div class="logo-details">
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class='bx bx-plus-medical bx-flip-horizontal' ></i>
        <span class="links_name"> Medicines & Equipments</span>
      </a>
       <span class="tooltip">Medicines and Equipments</span>
    </li>
    <li>
     <a href="#">
      <i class='bx bx-test-tube bx-flip-horizontal' ></i>
       <span class="links_name">Lab tests</span>
     </a>
     <span class="tooltip">Lab tests</span>
   </li>
   <li>
     <a href="#">
       <i class='bx bx-pie-chart-alt-2' ></i>
       <span class="links_name">Calculators</span>
     </a>
     <span class="tooltip">Calculators</span>
   </li>
   <li>
     <a href="#">
       <i class='bx bx-cart-alt' ></i>
       <span class="links_name">Checkout Cart</span>
     </a>
     <span class="tooltip">Checkout Cart</span>
   </li>
   <li>
     <a href="#">
      <i class='bx bx-user'></i>
       <span class="links_name">Profile</span>
     </a>
     <span class="tooltip">Profile</span>
   </li>
   <li class="profile">
    <div class="profile-details">
      <div class="name_job">
        <div class="name">CURE VIBE BEAU Ⓒ 2021</div>
        <div class="job">Pharmacy and Pathology Labs</div>
      </div>
    </div>
    <i class='bx bx-log-out' id="log_out" ></i>
</li>
</ul>
</div>


<!-- ------------------------- CARDS ------------------- -->

<div class="med-heading">
  <h1>Buy Medicines</h1>
</div>

<div class="container">

  <div class="card">
      <div class="box">
          <div class="content">
              <h2>01</h2>
              <h3 style="color: rgba(156, 6, 6, 0.863);"> COVID-19 RT-PCR TEST </h3>
              
              <p style="font-weight: 800; color: antiquewhite;">₹600</p>
              <a class="book" href="#"> Book
                  <span class="material-icons">
                      bloodtype
                  </span>
              </a>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="box">
        <div class="content">
            <h2>02</h2>
            <h3> TOTAL ERYTHROCYTE COUNT </h3>
            
            <p style="font-weight: 800; color: antiquewhite;">₹400</p>
            <a class="book" href="#"> Book
                <span class="material-icons">
                    bloodtype
                </span>
            </a>
        </div>
    </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

<div class="card">
  <div class="box">
      <div class="content">
          <h2>02</h2>
          <h3> TOTAL ERYTHROCYTE COUNT </h3>
          
          <p style="font-weight: 800; color: antiquewhite;">₹400</p>
          <a class="book" href="#"> Book
              <span class="material-icons">
                  bloodtype
              </span>
          </a>
      </div>
  </div>
</div>

  <div class="card">
      <div class="box">
          <div class="content">
              <h2>02</h2>
              <h3> TOTAL ERYTHROCYTE COUNT </h3>
              
              <p style="font-weight: 800; color: antiquewhite;">₹400</p>
              <a class="book" href="#"> Book
                  <span class="material-icons">
                      bloodtype
                  </span>
              </a>
          </div>
      </div>
  </div>

    <div class="card">
      <div class="box">
          <div class="content">
              <h2>03</h2>
              <h3> TOTAL LEUCOCYTE COUNT (TLC) </h3>
              
              <p style="font-weight: 800; color: antiquewhite;">₹400</p>
              <a class="book" href="#"> Book
                  <span class="material-icons">
                      bloodtype
                  </span>
              </a>
          </div>
        </div>
      </div>
  </div>
    

    <div class="equip-heading">
      <h2>Buy Equipments</h2>
    </div>

    <div class="container">

      <div class="card">
        <div class="box">
            <div class="content">
                <h3> Digital Blood Pressure Monitor </h3>
                
                <img class="s-image" src="https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL480_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL640_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL800_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81eIfnfHiIL._AC_UL960_QL65_.jpg 3x" alt="Omron HEM 7120 Fully Automatic Digital Blood Pressure Monitor With Intellisense Technology For Most Accurate Measurement" data-image-index="-1" data-image-load="" data-image-latency="s-product-image" data-image-source-density="1">
                <p>                             </p>
                <p style="font-weight: 800; color: rgb(20, 0, 0);">₹2099</p>
                <a class="book" href="#"> Buy
                  <span class="material-icons-outlined">
                    shopping_cart
                    </span>
                </a>
            </div>
          </div>
        </div>

      <div class="card">
          <div class="box">
              <div class="content">
                <h3> Pulse Oximeter Fingertip </h3>
                  <img class="s-image" src="https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL480_FMwebp_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL640_FMwebp_QL65_.jpg 2x, https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL800_FMwebp_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/41CCj6cH+sL._AC_UL960_FMwebp_QL65_.jpg 3x" alt="MACPLUS Pulse Oximeter Fingertip, Blood Oxygen Saturation Monitor Fingertip, Blood Oxygen Meter Finger Oximeter Finger wit..." data-image-index="2" data-image-load="" data-image-latency="s-product-image" data-image-source-density="1">
                  <p>                             </p>
                  <p style="font-weight: 800; color: rgb(20, 0, 0)">₹528</p>
                  <a class="book" href="#"> Buy
                    <span class="material-icons-outlined">
                      shopping_cart
                      </span>
                  </a>
              </div>
          </div>
      </div>

      <div class="card">
        <div class="box">
            <div class="content">
                <h3> Blood Glucode Test Strips </h3>
                
                <img class="s-image" src="https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL480_FMwebp_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL640_FMwebp_QL65_.jpg 2x, https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL800_FMwebp_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/41TZ0bKzdgL._AC_UL960_FMwebp_QL65_.jpg 3x" alt="Dr. Morepen BG-03 Blood Glucose Test Strips, 50 Strips (Black/White)(Only Strips, No Glucometer)" data-image-index="22" data-image-load="" data-image-latency="s-product-image" data-image-source-density="1">
                <p>                             </p>
                <p style="font-weight: 800; color: rgb(20, 0, 0)">₹634</p>
                <a class="book" href="#"> Buy
                  <span class="material-icons-outlined">
                    shopping_cart
                    </span>
                </a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="box">
              <div class="content">
                  <h3> Dettol Antiseptic Liquid for First Aid</h3>
                  
                  <img class="s-image" src="https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL480_FMwebp_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL640_FMwebp_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL800_FMwebp_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61zPiIUo4UL._AC_UL960_FMwebp_QL65_.jpg 3x" alt="Dettol Antiseptic Liquid for First Aid , Surface Disinfection and Personal Hygiene , 550ml (Pack of 2)" data-image-index="24" data-image-load="" data-image-latency="s-product-image" data-image-source-density="1">
                  <p>                             </p>
                  <p style="font-weight: 800; color: rgb(20, 0, 0)">₹353</p>
                  <a class="book" href="#"> Buy
                    <span class="material-icons-outlined">
                      shopping_cart
                      </span>
                  </a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="box">
                <div class="content">
                    <h3> Expertomind Sitz Bath Tub for Men & Women</h3>
                    
                    <img class="s-image" src="https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL480_FMwebp_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL640_FMwebp_QL65_.jpg 2x, https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL800_FMwebp_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/41u25DaAB9L._AC_UL960_FMwebp_QL65_.jpg 3x" alt="Expertomind Sitz Bath Tub for Men &amp; Women | Recovery from Pain, Hemorrhoids &amp; Postpartum | Non-Toxic Plastic | Includes Ai..." data-image-index="42" data-image-load="" data-image-latency="s-product-image" data-image-source-density="1">
                    <p>                             </p>
                    <p style="font-weight: 800; color: rgb(20, 0, 0)">₹499</p>
                    <a class="book" href="#"> Buy
                      <span class="material-icons-outlined">
                        shopping_cart
                        </span>
                    </a>
                </div>
              </div>
            </div>

      </div>





<script>
let sidebar = document.querySelector(".sidebar");
let closeBtn = document.querySelector("#btn");
let searchBtn = document.querySelector(".bx-search");

closeBtn.addEventListener("click", ()=>{
  sidebar.classList.toggle("open");
  menuBtnChange();//calling the function(optional)
});

searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
  sidebar.classList.toggle("open");
  menuBtnChange(); //calling the function(optional)
});

// following are the code to change sidebar button(optional)
function menuBtnChange() {
 if(sidebar.classList.contains("open")){
   closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class

 }else {
   closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
 }
}
</script>
<!--------------------------------------------------BASE HOMEPAGE HTML ENDS-------------------------------------------------------------->
</body>
</html>