<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favi.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="stylesheet" href="/css/testpage.css">
    <title>Cure Vibe Beau-Home</title>
</head>



<!-- ----------------------------------------BASE HOME---------------------------------- -->

<body>
  
    <div id="logo">
        <img src="/images/logo-homepage.png" alt="">
        <button type="button" class="btn btn-info"><span class="material-icons">
            contact_mail
            </span><span>Contact Us</span></button>
    </div>

    <div id="menubar">
    <div><button type="button" class="btn btn-outline-danger">
            <span class="material-icons">
                account_circle
                </span>
            <span> Profile </span>
        </button> </div>
        <div><button type="button" class="btn btn-outline-danger">
            <span class="material-icons ">
                shopping_cart
                </span>
                
            <span> Checkout </span>
            <span class="cart1">0</span>
        </button> </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/shop"><span>SHOP MEDICINES AND EQUIPMENTS</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/test"><span>LAB TESTS</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/calculators" role="button"
                aria-haspopup="true" aria-expanded="true"><span>HEALTHCARE CALCULATORS</span></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#1">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/report"><span>YOUR REPORTS</span></a>
        </li>
    </ul>
</div>
<!-- ----------------------------------------CARDS---------------------------------- -->

    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>01</h2>
                    <h3 style="color: rgba(156, 6, 6, 0.863);"> COVID-19 RT-PCR TEST </h3>
                    <p>
                        RT-PCR Test is a real-time reverse transcription polymerase chain reaction (rRT-PCR) test for the qualitative detection of nucleic acid from SARS-CoV-2 virus
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹600</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>02</h2>
                    <h3> TOTAL ERYTHROCYTE COUNT </h3>
                    <p>
                        Total erythrocyte count gives the number of RBCs present in blood used for detecting abnormalities in blood production, A high level indicates polycythemia and low levels indicate anemias  
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>03</h2>
                    <h3> TOTAL LEUCOCYTE COUNT (TLC) </h3>
                    <p>
                        Total leucocyte count gives the number of WBCs present in blood, a part of laboratory routine test to assess the nature and severity of infection and the response of body’s defense capability
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>04</h2>
                    <h3> DIFFERENTIATED LEUCOCYTE COUNT (DLC)  </h3>
                    <p>
            
                        Gives the percentage distribution of various WBCs in the blood, this test along with TLC helps to detect infections mainly parasitic and for monitoring blood diseases such as leukemia (blood cancer)

                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>05</h2>
                    <h3> ERYTHROCYTE SEDIMENTATION RATE (ESR)</h3>
                    <p>
                        Simple, non-specific test for measuring the inflammation in the body due to tendency of RBCs to settle in diseased conditions
                    </p>    
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>                    
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>06</h2>
                    <h3> HEMOGLOBIN CONCENTRATION</h3>
                    <p>
                        Routine laboratory test for determining disorders such as anemias, chronic diseases, tuberculosis etc. 
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>07</h2>
                    <h3> PLATELET COUNT</h3>
                    <p>
                        Determines the number of platelets which are essential for proper clotting of blood abnormalities in platelet indicates bleeding disorders
                    </p>    
                    <p style="font-weight: 800; color: antiquewhite;">₹400</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>08</h2>
                    <h3> CLOTTING TIME/PROTHROMBIN TIME</h3>
                    <p>
                        Assesses the integrity of hemostatic mechanisms for proper clotting of blood in case of any trauma or injury to blood vessels 
                    </p>  
                    <p style="font-weight: 800; color: antiquewhite;">₹300</p>  
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>09</h2>
                    <h3> FIBRINOGEN ACTIVITY TEST</h3>
                    <p>
                        A fibrinogen activity test assesses the part of clotting mechanism in which fibrinogen is converted to fibrin threads, required for proper clotting of blood
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹600</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>10</h2>
                    <h3> HEMOGLOBIN 1AC</h3>
                    <p>
                        This test measures the average value of blood glucose for the past months and is helpful for diagnosing and managing diabetes 
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹520</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>11</h2>
                    <h3> ENZYMOLOGY </h3>
                    <p>
                        Contains various blood test which measure the normal level of various enzymes such as ALT, SGOT, SGPT, CPKMB required for diagnostic values in liver heart and brain disorders respectively
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹875</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>12</h2>
                    <h3> LIPID PROFILE TEST</h3>
                    <p>
                        Lipid profile tests are used to find various abnormalities in the synthesis and transport of lipid such as cholesterol, triglycerides, and lipoprotein and to ascertain risks of cardiac diseases
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹375</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>13</h2>
                    <h3> LIVER FUNCTION TEST</h3>
                    <p>
                        
                        Series of test used to check for proper liver functioning and/or to diagnose and monitor various liver diseases
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹415</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>14</h2>
                    <h3> BLOOD SUGAR TEST</h3>
                    <p>
                        
                        Estimation of Blood Glucose levels, Consistent High levels of Blood glucose indicate diabetes mellitus
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹50</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>15</h2>
                    <h3> THYROID PROFILE</h3>
                    <p>
                        Group of tests that help to evaluate thyroid function, determines the level of hormones like triiodothyronine and tetraiodothyronine Thyroid hormones play an important role in maintaining the basal metabolic rate of the body
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹375</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>16</h2>
                    <h3> SERUM CALCIUM TEST </h3>
                    <p>
                        
                        Determines the level of calcium in blood and abnormalities in calcium homeostasis and bone diseases
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹175</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>17</h2>
                    <h3> SERUM IRON TEST </h3>
                    <p>
                        
                        Used to measure the part of iron bound with transferrin protein, to detect iron deficiency or iron overload

                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹575</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>18</h2>
                    <h3> RENAL FUNCTION TEST</h3>
                    <p>  
                        These tests determine proper kidney function and to diagnose any Kidney disorders, various metabolites are filtered by the kidneys and their presence in the blood or urine may show defective renal function
                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹1275</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>19</h2>
                    <h3> URINE TEST </h3>
                    <p>
                        URINE TEST
                        Sample of urine is collected to determine various aspects such as properties of urine, and presence or absence of substances such as ketone bodies, glucose, albumin, etc.

                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹275</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>20</h2>
                    <h3> VITAMIN B COMPLEX TEST </h3>
                    <p>
                        
                        Vitamin B Complex are a group of water-soluble vitamins, B complex is composed of 8 vitamins – B1, B2, B3, B5, B6, B7, B9, B12, the test measures for deficiency of any of these vitamins

                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹1600</p>
                    <a class="book" href="#"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>21</h2>
                    <h3>25 DEHYDROXY VITAMIN D TEST </h3>
                    <p>
                        Indicates the level of Vitamin D in the blood; 25dehydroxyvitamin D is the major form of vitamin D present in the blood, Vitamin D is essential for growth and formation of bones and plays a role in calcium homeostasis

                    </p>
                    <p style="font-weight: 800; color: antiquewhite;">₹900</p>
                    <a class="book"> Book
                        <span class="material-icons">
                            bloodtype
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>