/*-------------------------- BASE HOMEPAGE CSS BEGINS-------------- */
body{
    font-family: 'Julius Sans One', sans-serif; 
    /* display: block; */
}
#logo img{
    height: 20%;
    width: 20%;
}
#logo button{
   float: right;
   margin-top: 5px;
   margin-right: 2px;
   padding: 0 auto;
    background-color: transparent;
    border-color: purple;
    text-align: center;
}
#logo svg{
    height: auto;
 }
#logo button span{
    color: rgb(26, 62, 73);
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    padding-right: 4px;
    size-adjust: auto;
}
#menubar{
    margin-top: 0px;
    height: 200px;
    width: auto;
    background-image: url(../images/img-homopage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#menubar svg{
    float: right;
    margin-right: 5px;
    margin-top: 0px;
}
#menubar button{
    float: right;
    color: white;
    padding: 8px;
    margin-right: 10px;
    background-color: rgb(26, 62, 73);
    
}
#menubar button span{
    margin-top: 8px;
    font-size: large;
    padding-left: 0px;
    padding-top: 0px;
}
#menubar ul li{
    background-color: transparent;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-left: 4em;
    margin-top: 10em;
    vertical-align:bottom;
    line-height:2em;   
}
#menubar ul li :hover{
    background-color: mediumpurple;
    padding: auto;     
}
#menubar ul li span{
    color: white;  
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: 900;  
}
/*-------------------------- BASE HOMEPAGE ENDS HERE *********/
/* SLIDER STRUCTURE */

#slider {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    width: 1100px;
    height: 540px;
    overflow: visible;
    align-items: left;
    margin-left: 0;
    padding-left: 0;
    
 }
 /* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
    overflow: hidden;
    height: 80em;
 }
 /* IMAGE LIST */

#slider ul {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;

 }
 
 #slider li {
    width: auto;  /* Width Image */
    height: 80em; /* Height Image */
    background-size: contain;
    position: absolute;
    top: -325px; /* Original Position - Outside of the Slider */
    list-style: none;
 }
 #slider li.firstanimation {
    animation: cycle 25s linear infinite;
 }
 
 #slider li.secondanimation {
    animation: cycletwo 25s linear infinite;
 }
 
 #slider li.thirdanimation {
    animation: cyclethree 25s linear infinite;
 }
 
 #slider li.fourthanimation {
    animation: cyclefour 25s linear infinite;
 }
 
 #slider li.fifthanimation {
    animation: cyclefive 25s linear infinite;
 }
 /* ANIMATION */

@keyframes cycle {
    0%  { top: 0px; } /* When you start the slide, the first image is already visible */
    4%  { top: 0px; } /* Original Position */
    16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
    92% { top: -325px; opacity: 0; z-index: 0; }
    96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{ top: 0px; opacity: 1; }
 }
 
 @keyframes cycletwo {
    0%  { top: -325px; opacity: 0; } /* Original Position */
    16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
    20% { top: 0px; opacity: 1; }
    24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
    40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
    41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes cyclethree {
    0%  { top: -325px; opacity: 0; }
    36% { top: -325px; opacity: 0; }
    40% { top: 0px; opacity: 1; }
    44% { top: 0px; opacity: 1; }
    56% { top: 0px; opacity: 1; }
    60% { top: 325px; opacity: 0; z-index: 0; }
    61% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes cyclefour {
    0%  { top: -325px; opacity: 0; }
    56% { top: -325px; opacity: 0; }
    60% { top: 0px; opacity: 1; }
    64% { top: 0px; opacity: 1; }
    76% { top: 0px; opacity: 1; z-index: 0; }
    80% { top: 325px; opacity: 0; z-index: 0; }
    81% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 @keyframes cyclefive {
    0%  { top: -325px; opacity: 0; }
    76% { top: -325px; opacity: 0; }
    80% { top: 0px; opacity: 1; }
    84% { top: 0px; opacity: 1; }
    96% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
 }