/*-------------------------- BASE HOMEPAGE CSS BEGINS-------------- */
body{
    font-family: 'Julius Sans One', sans-serif; 
    /* display: block; */
}
#logo img{
    height: 20%;
    width: 20%;
}
#logo button{
   float: right;
   margin-top: 5px;
   margin-right: 2px;
   padding: 0 auto;
    background-color: transparent;
    border-color: purple;
    text-align: center;
}
#logo svg{
    height: auto;
 }
#logo button span{
    color: rgb(26, 62, 73);
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    padding-right: 4px;
    size-adjust: auto;
}
#menubar{
    margin-top: 0px;
    height: 200px;
    width: auto;
    background-image: url(../images/img-homopage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#menubar svg{
    float: right;
    margin-right: 5px;
    margin-top: 0px;
}
#menubar button{
    float: right;
    color: white;
    padding: 8px;
    margin-right: 10px;
    background-color: rgb(26, 62, 73);
    
}
#menubar button span{
    margin-top: 8px;
    font-size: large;
    padding-left: 0px;
    padding-top: 0px;
}
#menubar ul li{
    background-color: transparent;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-left: 4em;
    margin-top: 10em;
    vertical-align:bottom;
    line-height:2em;   
}
#menubar ul li :hover{
    background-color: mediumpurple;
    padding: auto;     
}
#menubar ul li span{
    color: white;  
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: 900;  
}
/*-------------------------- BASE HOMEPAGE ENDS HERE *********/
/* #cardslist {
   align-items: center;
     
}
div#solocard{
    margin: 0 auto;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{

    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.5),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.container .card .box .content{
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.05);
    transition: 0.5s;
    pointer-events: none;
}

.container .card:hover .box .content h2{
    color: rgba(0,0,0,0,0.05);
}

.container .card .box .content h3{
    font-size: 2rem;
    font-weight: bold;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content p{

    font-size: 1.2em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p
{
    color: #fff;

}

.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 32px;
    background: #03a9f4;
    margin-top: 15px;
    /* padding-bottom: 10px; */
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.02);
}

.container .card:hover .box .content a{
    background: #ff568f;

}

span{
    padding-left: 10px;
    padding-top: 6px;
}